.container
{
  display: grid;
  grid-template-rows: 300px;
  grid-template-columns: 50% 40%;
  grid-column-gap: 5%;
}
.form
{
    padding: 20px;
    margin-top: 20px;
    margin-left: 35%
}

.inputField
{
    background: transparent;
    display: block;
    margin-bottom:30px;
    color: white;
    padding: 5px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom:2px solid #e7144c;
    outline:none;
    width: 200px;
}

.inputField::placeholder
{
    color: white;
    opacity: 0.7;

}
.butt
{
    background-color: #e7144c;
    color: white;
    border: none;
    padding: 9px;
    border-radius: 10px;
}
.hr
{
  background-color: #e7144c;
  border: none;
  height: 1px;
  margin-right: 90px;
}

@media only screen and (max-width: 729px) {
.container
{
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 100%;
  padding-left: 10px;
}
.form
{
    padding: 20px;
    margin-top: 20px;
    margin-left: 20%
}
}

